{% extends 'base.html.twig' %}

{% block title %}
	Modifier mon profil
{% endblock %}

{% block body %}
	<div class="min-h-screen bg-gray-50 py-8">
		<h1 class="text-3xl font-bold text-gray-900 mb-2">Modifier mes informations</h1>
		{{ form_start(form) }}
		<button class="">Sauvegarder</button>
		{{ form_end(form)}}


		<a href="{{ path('app_user', {'id': app.user.id}) }}" class="">
			&#x2190;Retour</a>
	</div>
{% endblock %}
